.gradient-custom-2 {
    /* fallback for old browsers */
    background: #c0935b;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #5a3215, #d8ba36, #6bdd36, #075e12);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #24ee56, #2e0203, #684d57, #5f5a2c);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }









    h1 {
        text-align: center;
        padding: 12px;
        color: #444
    }
    
    input {
        width: calc(100% - 20px);
        padding: 9px;
        margin: auto;
        margin-top: 12px;
        font-size: 16px
    }
    
    input[type='submit']{
        background-color: #48e;
        color: #fff;
        width: calc(80% - 20px);
        margin: 0 10%;
        margin-top: 22px;
        border: none;
    }
    
    
    .ok {
        text-align: center;
        width: 100%;
        padding: 12px;
        background-color: #1e6  !important;
        color: #27b81a
    }
    .bad {
        text-align: center;
        width: 100%;
        padding: 12px;
        background-color: rgb(231, 12, 12) !important;
        color: #e20303
    }